/* layout */
#header {
  width: 100%;
  background: #001932;
}
#banner_bg {
  width: 100%;
}
#main {
}
#footer {
}
.container {
  width: 1200px;
  margin: 0 auto;
}

/* header */
.header_inner {
  display: flex;
  align-items: center;
  height: 63px;
}
.logo {
  margin-right: 30px;
}
.logo svg g path {
  transition: fill 0.3s;
}
.logo:hover svg g path {
  fill: #ba0707;
}
.nav {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav .gnb {
  display: flex;
}
.nav .gnb li {
  padding: 0 25px;
}
.nav .gnb li a {
  display: block;
  padding: 18px 0;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  position: relative;
}
.nav .gnb li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #ba0707;
  position: absolute;
  bottom: -2px;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.nav .gnb li a:hover::after {
  opacity: 1;
  width: 100%;
}

/* .nav .gnb li a:hover {
  border-bottom: 3px solid #ba0707;
  margin-bottom: -3px;
} */

.nav .lnb {
  display: flex;
}
.nav .lnb li {
}
.nav .lnb li a {
  color: #fff;
  font-size: 13px;
  padding: 10px;
}
.nav .lnb li a:hover {
  color: #ba0707;
}
.nav .lnb li.login a {
  background-color: #ba0707;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.nav .lnb li.login a:hover {
  background-color: #6d0202;
  color: #fff;
}

/* banner */
#banner {
  width: 100%;
}
#banner img {
  width: 100%;
}
.banner_txt {
}
.banner_txt h1 {
}
.banner_txt p {
}
.banner_txt .more {
}
